<?xml version="1.0" encoding="UTF-8" ?>
<server description="IPIC connection to CICS">
    <featureManager>
        <feature>zosconnect:cics-1.0</feature>
    </featureManager>
    <zosconnect_cicsIpicConnection id="cicsConn" host="{{ cicsHost }}" port="{{ cicsPort }}" authDataRef="cicsCredentials"/>
    <zosconnect_authData id="cicsCredentials" user="{{ cicsUsername }}" password="{{ cicsPassword }}"/>
</server>