version: "3.2"
services:
    zosConnect:
        image: 'icr.io/zosconnect/ibm-zcon-designer:{{ designer_image_version }}'
        environment:
            - CICS_USER="{{ cicsUsername }}"
            - CICS_PASSWORD="{{ cicsPassword }}"
            - CICS_HOST="{{ cicsHost }}"
            - CICS_PORT="{{ cicsPort }}"
            - HTTP_PORT=9080
        ports:
            - "9443:9443"
            - "9080:9080"
        volumes:
            - ./CatalogManagerApi:/workspace/project
            - ./logs/:/logs/
            - ./certs:/config/resources/security/:ro