---
apiVersion: machine.openshift.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ cluster_id }}-health-check-compute-{{ location }}1
  namespace: openshift-machine-api
spec:
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-machine-role: compute
      machine.openshift.io/cluster-api-machine-type: compute
      machine.openshift.io/cluster-api-machineset: {{ cluster_id }}-worker-{{ location }}1
  unhealthyConditions:
  - type:    "Ready"
    timeout: "300s"
    status: "False"
  - type:    "Ready"
    timeout: "300s"
    status: "Unknown"
  maxUnhealthy: "30%"
---
apiVersion: machine.openshift.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ cluster_id }}-health-check-compute-{{ location }}2
  namespace: openshift-machine-api
spec:
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-machine-role: compute
      machine.openshift.io/cluster-api-machine-type: compute
      machine.openshift.io/cluster-api-machineset: {{ cluster_id }}-worker-{{ location }}2
  unhealthyConditions:
  - type:    "Ready"
    timeout: "300s"
    status: "False"
  - type:    "Ready"
    timeout: "300s"
    status: "Unknown"
  maxUnhealthy: "30%"
---
apiVersion: machine.openshift.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ cluster_id }}-health-check-compute-{{ location }}3
  namespace: openshift-machine-api
spec:
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-machine-role: compute
      machine.openshift.io/cluster-api-machine-type: compute
      machine.openshift.io/cluster-api-machineset: {{ cluster_id }}-worker-{{ location }}3
  unhealthyConditions:
  - type:    "Ready"
    timeout: "300s"
    status: "False"
  - type:    "Ready"
    timeout: "300s"
    status: "Unknown"
  maxUnhealthy: "30%"