apiVersion: suboperator.zoscb.ibm.com/v1minor0patch0
kind: CICSTSRegion
metadata:
  name: cics-ts-region-instance
  namespace: demo-iz
spec:
  credential: zvsi-credential
  zosendpoint: zvsi
  DFH_REGION_SYSID: DR0