apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: zvsi-credential
  namespace: ibm-zmodstack-cloudbroker
data:
  username: "{{ secret.username | b64encode}}"
  ssh_key: "{{ secret.ssh_key | b64encode }}"