apiVersion: zoscb.ibm.com/v2beta2
kind: SubOperatorConfig
metadata:
  name: {{ oc.name }}
  namespace: ibm-zmodstack-cloudbroker
  labels:
    instance-name: zoscloudbroker
spec:
  credentialType: shared
  mapping:
    - namespace: ibm-zmodstack-cloudbroker
      zosendpoints:
        - credentialName: zvsi-credential
          name: zvsi
  operatorCollection: {{ oc.name }}