apiVersion: zoscb.ibm.com/v2beta2
kind: SubOperatorConfig
metadata:
  generateName: {{ oc.name }}-soc-
  namespace: ibm-zmodstack-cloudbroker
  {# ownerReferences:
    - apiVersion: zoscb.ibm.com/v2beta2
      kind: OperatorCollection
      name: {{ oc.name }}
      uid: 5ba96af0-7731-440a-8b1a-bbb31f71b5ce #}
spec:
  credentialType: shared
  mapping:
    - namespace: ibm-zmodstack-cloudbroker
      zosendpoints:
        - credentialName: zvsi-credential
          name: zvsi
  operatorCollection: {{ oc.name }}