apiVersion: zoscb.ibm.com/v2beta2
kind: ZosEndpoint
metadata:
  name: zvsi
spec:
  description: A Wazi as a Service instance in IBM Cloud
  endpointType: remote
  host: {{ zvsi_host }}
  port: {{ zvsi_ssh_port | int }}